[submodule "ARSIS-Telemetry-GroundControl/TSSExtras/TSS_2024"]
	path = ARSIS-Telemetry-GroundControl/TSSExtras/TSS_2024
	url = https://github.com/BSU-SUITS-Team/TSS_2024.git
[submodule "ARSIS-Telemetry-GroundControl/GCSiteTest"]
	path = ARSIS-Telemetry-GroundControl/GCSiteTest
	url = https://github.com/BSU-SUITS-Team/GCSiteTest.git
