.Page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 15vw;
  overflow-y: scroll;
}

.App-logo {
  width: 8vw;
  pointer-events: none;
}

.Container-primary {
  display: flex;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.Container-primary form {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}

.Container-primary input {
  margin-bottom: 1rem;
}

.Container-primary label {
  margin: 0.5rem 0rem 0.8rem 0rem;
}

.Task {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 0.5rem 1rem 1rem 0rem;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
}

.Step {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 0.5rem;
  border-style: solid;
  border-width: 1px;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 87, 201);
}



.Button-group button {
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.5rem;
}

.Summary {
  min-height: 2rem;
}

.Side-Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  background-color: #00123a;
  z-index: 10;
  color: white;
  transition: 1s ease-in-out;
}

.Nav-menu {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.Menu-icon {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #00123a;
  padding: 20px;
}

.Nav-link {
  width: auto;
  height: auto;
  padding: 1.5rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background-color: #00123a;
}

.Nav-link p {
  margin: 0rem;
  margin-left: .8rem;
}

.Nav-link:hover {
  background-color: #001f63 !important;
  transition: 0.3s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
