.Page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 15vw;
}

.App-logo {
  width: 8vw;
  pointer-events: none;
}

.Container-primary {
  display: flex;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.Container-primary form {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}

.Container-primary input {
  margin-bottom: 1rem;
}

.Container-primary label {
  margin: 0.5rem 0rem 0.8rem 0rem;
}

.Button-group button {
  margin: 0.2rem 0.2rem;
  padding: 0.2rem 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
