.userPanel {
    display: flex;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border: 1px solid black;
}

.user table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #045faa;
    color: white;
}

.user td, .user th {
  border: 1px solid #ddd;
  padding: 8px;
}